* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: white;
}

.color-red {
    color: #ee2b47;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b222c;
}

.container {
    width: 80%;
    padding: 2rem;
}

.search-tool {
    text-align: center;
    margin-bottom: 2rem;
}

#country-name {
    text-transform: capitalize;
    padding: 5px 15px;
    border: none;
    /* border-bottom: 3px solid blue; */
    width: 60%;
    background-color: #12151c;
}

#search {
    border: none;
    /* border-bottom: 3px solid blue; */
    outline: none;
    padding: 5px 15px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #12151c;
}

.country-name {
    text-align: center;
    margin-bottom: 2rem;
}

.title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.display-data {
    margin-bottom: 1.5rem;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    background-color: #191d26;
    flex-wrap: wrap;
}

.data-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    padding: 2rem;
}

.data {
    display: inline-block;
    margin-top: 8px;
}

.timelineTable {
    width: 100%;
    overflow: scroll;
}

.dataTable {
    width: 100%;

}

.hidden {
    display: none;
}

.show {
    display: table;
}

.dataTable th {
    background: black;
    font-weight: bold;
    padding: 10px 0;
}

.dataTable tr td {
    border-bottom: 1px solid white;
    text-align: center;
    padding: 6px 0;
}

.dataTable tr td:hover {
    border-bottom: 1px solid white;
    color: black;
    background-color: white;
}

.chart {
    margin-bottom: 2rem;
}

.show_table {
    cursor: pointer;
    background: black;
    padding: 20px 20px;
    border-radius: 20px;
}